/* ===== HERO (base) ===== */
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  /* centraliza o conteúdo no eixo X */
  display: flex;
  justify-content: center;   /* centraliza o .heroInner */
}

/* fundo */
.heroBg {
  position: absolute;
  inset: 0;
  z-index: 0;

  /* background: radial-gradient(
    800px 500px at 50% 0%,
    rgba(47, 125, 255, 0.22) 0%,
    rgba(47, 125, 255, 0) 55%
  ); */

  background-color: #F7E3E8;
  /* background-color: #f2f9e7; */

  pointer-events: none;
}

/* conteúdo */
.heroInner {
  position: relative;
  z-index: 1;

  width: 100%;
  max-width: 760px;
  margin: 0 auto;

  padding: 26px 18px 10px; /* seu padding foi movido pra cá */
  text-align: center;

  /* 🔥 isso garante que o círculo fique no centro do background */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== BRAND (círculo) ===== */
.brand {
  width: 300px;
  height: 300px;

  border-radius: 50%;
  /* overflow: hidden; */

  display: flex;
  place-items: center;
}

/* imagem dentro do círculo */
.brandImage {
  width: 120%;
  height: 120%;
  object-fit: cover;
  object-position: center 50%;
}

/* ===== ELEMENTOS ===== */
.brand-cel {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imgCel {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: block;
  object-fit: contain;
}

.sparkLine {
  height: 1px;
  width: 100%;
  margin: 10px auto 14px;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.85) 0%,
    rgba(255, 255, 255, 0) 55%
  );
  position: relative;
}

.sparkLine:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%);
  width: 170px;
  height: 12px;

  background: radial-gradient(
    circle,
    rgba(9, 47, 6, 0.9) 0%,
    rgba(47, 125, 255, 0) 65%
  );
}

.kicker {
  opacity: 0.9;
  font-weight: 700;
}

.heroTitle {
  margin: 0 !important;
  font-weight: 900 !important;
  line-height: 1.05 !important;
  letter-spacing: -0.5px;
  font-size: 30px !important;
}

.hl {
  color: var(--blue) !important;
}


.heroSubtitle {
  opacity: 0.92;
  font-size: 18px;
  color: black;
  font-weight: 400 !important;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 480px) {
  .brand {
    width: 240px;
    height: 240px;
  }

  .heroInner {
    padding: 22px 16px 10px;
  }
}
